@page "/empleadoslista"

@using Model.Clases
@using Interfaces
@using MyPyme.App.Ui.Componentes
@inject IServicioEmpleado ServicioEmpleado
@inject NavigationManager Navegador


<div class="cabecera_pag">
    <div class="cabecera_pag_zona1">
        <div id="icon1"></div>
    </div>
    <div class="cabecera_pag_zona2">
        <h3>Lista de Empleados</h3>
    </div>
    <div class="cabecera_pag_zona3">
        <button id="boton_home"><a id="a-home" href="/"></a></button>
    </div>
</div>

<div id="cabecera-lista">
    <table class="table">
        <tr id="cabecera-lista-tr" colspan="5">
            <td class="cabecera-lista-tr-td">NOMBRE</td>
            <td class="cabecera-lista-tr-td">APELLIDO</td>
            <td class="cabecera-lista-tr-td">IDENTIFICACION</td>
            <td class="cabecera-lista-tr-td">CORREO</td>
            <td class="cabecera-lista-tr-td">
                <a id="enlace-crear" href="/empleadosguardar">
                    <button class="btn-crear">Insertar</button>
                </a>
            </td>
        </tr>
    </table>
</div>

@if(empleados == null)
{
    <p><i>"Cargando..."</i></p>
}
else{
    <div id="contenedor_lista">
        <div id="contenedor_lista-lista">
            <table class="table">
                @foreach (Empleado empleado in empleados)
                {
                    <tr colspan="5">
                        <td class="cabecera-lista-tr-td">@empleado.emd_nombre</td>
                        <td class="cabecera-lista-tr-td">@empleado.emd_apellido</td>
                        <td class="cabecera-lista-tr-td">@empleado.emd_cedula</td>
                        <td class="cabecera-lista-tr-td">@empleado.emd_correo</td>
                        <td class="cabecera-lista-tr-td">
                            <a href="/empleadoslista" @onclick="() => AbrirModal(empleado)"><i id="tag-crud">Borrar</i></a>
                            <a href="/empleadosguardar/@empleado.Id"><i id="tag-crud">Editar</i></a>
                            <a href="/empleadoslista"><i id="tag-crud">Detalles</i></a>
                        </td>
                    </tr>
                } 

            </table>
        </div>
    </div>
}

@if(MostrarModal)
{
    <ModalConfirmacion  Titulo="¿Está seguro?" 
                        Texto="Se dispone a eliminar un Empleado de la base de datos..."
                        OnClose="@CerrarModal">

    </ModalConfirmacion> 
}

@code {
    private IEnumerable<Empleado> empleados;

    private Empleado _empleadoAborrar;
    public bool MostrarModal { get; set; }
    private async Task CerrarModal(bool aceptado)
    {
        if (aceptado)
        {
            @* Navegador.NavigateTo("/"); *@
            Navegador.NavigateTo("/empleadoslista",true);
            await ServicioEmpleado.EliminarEmpleado(_empleadoAborrar.Id);
        }

        MostrarModal = false;
        StateHasChanged();
    }

    private void AbrirModal(Empleado empleadoAborrar)
    {
        _empleadoAborrar = empleadoAborrar;
        MostrarModal = true;
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            empleados= await ServicioEmpleado.GetListaEmpleados();
        }
        catch (System.Exception ex)
        {
             // TODO
        }
    }
}